2+2

In [1]:
2+2

4

# My first notebook

"I'm very happy to be writing code," said no one ever.

In [7]:
x = 10.0
y = 20.0

In [3]:
y / x

2

In [4]:
x - y

-10

In [5]:
x / y

0

In [6]:
x / y

0

In [8]:
x / y

0.5

In [9]:
import pandas as pd

In [10]:
my_list = [2, 4, 6, 8]

In [11]:
my_list[2]

6

In [12]:
my_series = pd.Series(my_list)

In [13]:
my_series.sum(20)

ValueError: No axis named 20 for object type <class 'pandas.core.series.Series'>

In [14]:
my_series.sum()

20

In [15]:
my_series.mean()

5.0

In [16]:
my_series.mode()

0    2
1    4
2    6
3    8
dtype: int64

In [17]:
my_series.median()

5.0

In [18]:
my_series.max()

8

In [19]:
my_series.min()

2

In [20]:
my_series.describe()

count    4.000000
mean     5.000000
std      2.581989
min      2.000000
25%      3.500000
50%      5.000000
75%      6.500000
max      8.000000
dtype: float64